.work-examples__title,
    .team__title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.167;
      letter-spacing: 0.03em;
      /* color: #212121; */
      
    }
    .work-examples {
      padding-bottom: 94px;
      /* background-color: rgb(153, 10, 10); */
    }
  
    .work-examples .container {
      text-align: center; 
      

    }
    .work-examples__items {
      display: flex;
      justify-content: center;
    }
    .work-examples__item:not(:last-child) {
      margin-right: 30px;
    }
  
    .work-examples__title {
      margin-bottom: 50px;
    }
    .work-examples__item {
      position: relative;
    }
    .work-examples__text {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.143;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      color: #ffffff;

      background-color: rgba(47, 48, 58, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 27px;
      padding-bottom: 27px;

      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
    }